.blogs-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px;
}

.loading-view-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.error-message {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 32px;
  margin: 0px;
  margin-top: 100px;
}
